
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-3 navigator">
    <ul class="nav nav-list">
        <li class="">
            <a href="#">Dashboard</a>
        </li>
        <li class="">
            <a href="Bug">Bugs</a>
        </li>
        <li class="">
            <a href="Project">Projects</a>
        </li>
        <li class="">
            <a href="Developer">Developers</a>
        </li>
        <li class="">
            <a href="User">Users</a>
        </li>
    </ul>
</div>
<div class="col-md-9">
    <h3>Dashboard</h3>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Assigned</h3>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content1
                        </div>
                        <div class="panel-footer">
                            Panel footer1
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content2
                        </div>
                        <div class="panel-footer">
                            Panel footer2
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content3
                        </div>
                        <div class="panel-footer">
                            Panel footer3
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">In Progress</h3>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content1
                        </div>
                        <div class="panel-footer">
                            Panel footer1
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">In Test</h3>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content1
                        </div>
                        <div class="panel-footer">
                            Panel footer1
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Done</h3>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content1
                        </div>
                        <div class="panel-footer">
                            Panel footer1
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content2
                        </div>
                        <div class="panel-footer">
                            Panel footer2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

