<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/dashboard">
                    <b>Plan Poker</b>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/estimate/true/" target="_blank">Estimate</a>
                    </li>
                    <li>
                        <a href="" data-toggle="modal" data-target="#modalCreateProject">New Project</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/profile">My Profile</a>
                            </li>
                            <li>
                                <a href="#/project">My Project</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="" id="logout" name="logout" ng-click="toLogin()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" ng-controller="profileController">
    <div class="plan-poker-box col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h2>My Profile</h2>
            </div>
        </div>
        <form id="updateForm" name="updateForm">
            <div class="form-group">
                <label>User name</label>
                <input type="text" class="form-control" id="username" name="username" ng-model="user.Username" placeholder="User name" readonly>
            </div>
            <div class="form-group">
                <label>Old Password</label>
                <input type="password" class="form-control" id="oldpassword" name="oldpassword" ng-model="oldpassword" placeholder="Old Password">

            </div>
            <div class="form-group">
                <label>Password</label><label id="passstrength" class="pull-right"></label>
                <input type="password" class="form-control" id="password" name="password" ng-model="newpassword" placeholder="Password" ng-minlength="6" ng-maxlength="8" required>
                <span class="tips" ng-show="updateForm.password.$dirty && updateForm.password.$invalid">
                    <span ng-show="updateForm.password.$error.required">Password is required.</span>
                    <span ng-show="updateForm.password.$error.minlength">Password must more than 6 characters.</span>
                    <span ng-show="updateForm.password.$error.maxlength">Password must less than 8 characters.</span>
                </span>
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" password-check="password" placeholder="Confirm password" ng-minlength="6" ng-maxlength="8" required>
                <span class="tips" ng-show="updateForm.confirmPassword.$dirty && updateForm.confirmPassword.$invalid">
                    <span ng-show="updateForm.confirmPassword.$error.required">Password is required.</span>
                    <span ng-show="updateForm.confirmPassword.$error.minlength">Password must more than 6 characters.</span>
                    <span ng-show="updateForm.confirmPassword.$error.maxlength">Password must less than 8 characters.</span>
                    <span ng-show="updateForm.confirmPassword.$error.passwordmatch">Passwords are not equal.</span>
                </span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="user.Email" placeholder="Email" ng-pattern="/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/" required>
                <span class="tips" ng-show="updateForm.email.$dirty && updateForm.email.$invalid">
                    <span ng-show="updateForm.email.$error.required">Email cannot be empty.</span>
                    <span ng-show="updateForm.email.$error.pattern">Email format is wrong.</span>
                </span>
            </div>
            <div class="form-group">
                <label>User picture</label>
                <div>
                    <img id="userPicture" class="img-responsive" ng-src="{{user.Image}}" alt="Image"/>
                    <input type="file" id="imgUpload" name="imgUpload" ng-model="image" ng-change="changeImage()" accept="image/*" file-reader/>
                    <label id="userPictureError" class="error"></label>
                </div>
            </div>
            <div class="form-group form-inline">
                <button id="btnSubmit" type="button" class="btn btn-success" ng-click="UpdateProfile()">Save</button>
                <label id="updateErrorTips" class="error">{{updateErrorTips}}</label>
            </div>
        </form>
    </div>
</div>