
/*  common  JoyZhang 20160222 */
input{
margin:5px;
margin-left:15px;
margin-right:15px;
}

input[type="text"]{
width:94%;
border-radius:5px;
height:25px;
}

label{
margin-top:5px;
margin-left:15px;
margin-right:15px;
margin-bottom: 5px;
}

a{
color:#7DA27F;
text-decoration:none;
}

li 
{
list-style-type:none;
cursor:pointer;
margin-right:10%;
padding:10px;
padding-top:15px;
padding-bottom:15px;
color:#7DA27F;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul{
margin-left:-15px;
}

li:hover{
background-color:#61B966;
}

a:hover{
background-color:#61B966;
}
