<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="scripts/angular.js"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller('ParentController', function($scope) {
            $scope.person = {greeted: false};
        });

        app.controller('ChildController', function($scope) {
            $scope.sayHello = function() {
                $scope.person.greeted = true;
            }
        });
    </script>
</head>
<body>
<div ng-controller="ParentController">
    <div ng-controller="ChildController">
        <input type="text" ng-model="person.name" placeholder="Name"/>
        <a ng-click="sayHello()">Say hello</a>
    </div>
    {{ person }}
</div>
</body>
</html>