<div class="container" ng-controller="projectController">
    <input type="hidden" id="userId"/>
    <div class="row">
        <table class="table table-responsive table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Guid</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody id="projectList">
            <tr ng-repeat="project in projects">
                <td><span ng-bind="project.Id"></span></td>
                <td><span ng-bind="project.Name"></span></td>
                <td><span ng-bind="project.ProjectGuid"></span></td>
                <td>
                    <a href="" data-toggle="modal" data-target="#editModal" class="projectEdit" ng-click="setCurrentProject(project)">Edit </a>
                    <span>|</span>
                    <a href="" data-toggle="modal" data-target="#deleteModal" class="projectDelete" ng-click="setCurrentProject(project)"> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade model-responsive" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <form name="updateProjectForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title text-left" id="editModalLabel">Update Project</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <label>Project name</label>
                                <input type="text" class="form-control" id="ProjectName" name="ProjectName" placeholder="Project name" ng-model="currentProject.Name" ng-minlength="4" required>
                                <span class="tips" ng-show="updateProjectForm.ProjectName.$dirty && updateProjectForm.ProjectName.$invalid">
                                    <span ng-show="updateProjectForm.ProjectName.$error.required">Project name is required.</span>
                                    <span ng-show="updateProjectForm.ProjectName.$error.minlength">Project name must more than 4 characters.</span>
                                </span>
                            </div>
                            <div class="col-md-12 modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" id="saveProject" ng-disabled="updateProjectForm.$invalid" data-dismiss="modal" ng-click="editProject()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade model-responsive" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content col-md-6 modal-content-other">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-left" id="deleteModalLabel">Delete Project</h4>
                </div>
                <div class="modal-body modal-body-delete">
                    <p>Are you sure to delete this project?</p>
                    <input type="hidden" id="deleteProjectId" />
                </div>
                <div class="col-md-12 modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" id="deleteProject" class="btn btn-success" data-dismiss="modal" ng-click="deleteProject()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>