<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="PlanPokerContext" connectionString="Server=.; Database=PlanPokerDB; Uid=PlanPokerDB;Password=PlanPokerDB" providerName="System.Data.SqlClient" />-->
    <!--<add name="BugManagementContext" connectionString="Data Source=.; Initial Catalog=BugManagement; Uid=sa;Password=1qaz2wsx" providerName="System.Data.SqlClient" />-->
    <add name="BugManagementConnectionString"
         connectionString="Data Source=.; Initial Catalog=BugManagementTest; Uid=sa;Password=1qaz2wsx;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>