body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    margin:0 auto;
}

div {
	display: block;
}

a {
	text-decoration: none;
}

ul, ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; 
}

h1 {
    font-weight: normal;
}

a.greenlink {
	color: green;
    text-align:center;
    margin:0 auto;
    font-size: 1em;
}

a.greenlink.right {
	color: green;
	text-decoration: none;
	float: right;
}

a.greenlink.right.center {
    color: green;
    text-decoration: none;
    float: right;
    margin: 10px 0 0 0; 
    padding-left: 20px;

}

a.greenlink.margin {
    margin-left: 80px;
}

span.greenlink {
    font-size: 1em;
    text-align:;
    margin:0 auto;
    margin-bottom: 1px;
}

.title {
    font-size: 2em !important;
}

span.subtitle {
    padding-top: 20px;
    font-size: 1.75em;
}


.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

.btn:hover, .btn:active {
    text-decoration: none;
    background-color: #ddd;

    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #17B066;
    border-color: #5ca941;
}

.btn-primary:hover {
    color: #fff;
    background-color: #569e3d;
    border-color: #4a993e;
}

input[type="text"] {
	width:99%;
	border: 1px solid #ccc;
	border-radius:3px;
	padding: 5px;
	min-height: 26px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

input {
    margin: 0;
}

label {
    font-size: 1em;
    margin: 10px 0 10px 0;
    display: block;
    width:100%;
}

p span {
	font-size:1em !important;
    font-weight: normal !important;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

table {
    background-color: transparent;
}
table thead {
    font-weight: bold;
}
table td {
    padding:8px 30px 8px 8px;
}

.clear{
    clear: both;
}

.border-bottom {
    border-top: 1px solid #ddd;
    height: 20px;
}

.subtitle {
    margin-top:34px;
}

.paging {
    margin-top:20px;
}
