<div ng-app="mainApp" ng-controller="projectController" ng-init="onInitProjectsTable()">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="main.dashboard">
                        <b>Plan Poker</b>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="main.profile">My profile</a></li>
                                <li><a ui-sref="main.project">My Project</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <input type="hidden" id="userId"/>
        <div class="row">
            <div class="page-header page-header-minheight">
                <div class="input-group col-md-6 input-group-search">
                    <input type="text" class="form-control" ng-model="searchItem" ng-change="onSearchProject()" placeholder="Input any text you want to search...">
                    <span class="input-group-btn">
                        <button type="button" ng-click="search()" class="btn btn-success btn-search">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ProjectName</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects">
                    <td>{{project.Id}}</td>
                    <td>{{project.Name}}</td>
                    <td>
                        <a href="" data-toggle="modal" data-target="#editModal" ng-click="editModal(project)">Edit </a>
                        <a href="" data-toggle="modal" data-target="#deleteModal" ng-click="deleteModal(project)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade model-responsive" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <form name="editProjectForm" novalidate>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title text-left" id="editModalLabel">
                            Edit Project
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <label ng-model="project.Id" class="hide"></label>
                                <label>Project name</label>
                                <input id="ProName" type="text" class="form-control" ng-model="project.Name" ng-change="onProjectNameChange()" name="projectName" placeholder="User name" required />
                                <span class="error" ng-show="editProjectForm.projectName.$dirty && editProjectForm.projectName.$invalid">
                                    <span ng-show="editProjectForm.projectName.$error.required">Project name is required.</span>
                                </span>
                                <span class="error" ng-show="project.isExist" id="projectExist">Project name is exist.</span>
                                <input type="hidden" id="projectId" />
                            </div>
                            <div class="col-md-12 modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" ng-click="onEditProject()" class="btn btn-success" disabled="disabled" ng-disabled="editProjectForm.$invalid || project.isExist">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade model-responsive" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content col-md-6 modal-content-other">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-left" id="deleteModalLabel">
                        Delete project
                    </h4>
                </div>
                <div class="modal-body modal-body-delete">
                    <p>
                        Are you sure to delete this project name?
                    </p>
                    <label ng-model="project.Id" class="hide"></label>
                </div>
                <div class="col-md-12 modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        No
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-success" ng-click="onDeleteProject()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
